NetCoreAndSignalR/NetCoreAndSignalR/obj/
NetCoreAndSignalR/NetCoreAndSignalR/bin/
NetCoreAndSignalR/.vs/NetCoreAndSignalR/v16/
NetCoreAndSignalR/.vs/NetCoreAndSignalR/DesignTimeBuild/
NetCoreAndSignalR/.vs/
