NetCoreAndSignalR/NetCoreAndSignalR/obj/
NetCoreAndSignalR/NetCoreAndSignalR/bin/
NetCoreAndSignalR/.vs/NetCoreAndSignalR/v16/
NetCoreAndSignalR/.vs/NetCoreAndSignalR/DesignTimeBuild/
NetCoreAndSignalR/.vs/
NetCoreMVCAndJqueryDataTable/.vs/NetCoreMVCAndJqueryDataTable/v16/
NetCoreMVCAndJqueryDataTable/NetCoreMVCAndJqueryDataTable/obj/
NetCoreMVCAndJqueryDataTable/NetCoreMVCAndJqueryDataTable/bin/
NetCoreRazorPageAndJqueryDataTable/NetCoreRazorPageAndJqueryDataTable/obj/
NetCoreRazorPageAndJqueryDataTable/NetCoreRazorPageAndJqueryDataTable/bin/Debug/
NetCoreMVCAndJqueryDataTable/.vs/NetCoreMVCAndJqueryDataTable/DesignTimeBuild/
NetCoreRazorPageAndJqueryDataTable/.vs/NetCoreRazorPageAndJqueryDataTable/DesignTimeBuild/
NetCoreRazorPageAndJqueryDataTable/.vs/NetCoreRazorPageAndJqueryDataTable/v16/
NetCoreRazorPageAndJqueryDataTable/.vs/
WebAPILoginAuthentication/LoginAuthentication/.vs/
WebAPILoginAuthentication/LoginAuthentication/LoginAuthentication/bin/
WebAPILoginAuthentication/LoginAuthentication/LoginAuthentication/obj/
